@import url(https://fonts.googleapis.com/css?family=Rokkitt|Courgette|Kreon|Lobster|Roboto+Mono|Special+Elite|Source+Sans+Pro|Kaushan+Script);

$green: #508630;
$blue: #2D91C2;
$navy: #1B2F33;
$gray: #4F747F;
$salmon: #D56062;
$babyblue: #84BCDA;
$darkblue: #003459;
$white: #fff;
$black: #000;
$yellow: #F9CB40;
$pink: #FF715B;