body.post-type-archive-programs
{ 

	h1
	{
		padding-top: 60px;
		margin: 0;
		text-align: center;
		// font-family: 'Special Elite', cursive;
	}

	h1#highfiveprograms
	{
		color: #880A1B;
	}

	h1#singleparentbootcamps
	{
		color: black;
		// padding-top: 80px;
	}

	h1#divorceinformed
	{
		color: white;
		// padding-top: 80px;
	}

	h1#singleparentinstitute
	{
		color: white;
	}
		

	.hero
	{
		min-height: 450px;
		@include background-image(scroll);
	}

	iframe
	{
		width: 100%;
		height: 250px;

		div#contentpub[style]
		{
			padding-bottom: 0 !important;
		}
	}

	@include breakpoint(phone)
	{
		iframe
		{
			height: 122px;
		}
	}

	a.powered-by-eb
	{
		// display: none;
	}

	#content
	{

		#primary
		{
			
		}
	}
}