body.page-template-divorceinformed
{
	h1
	{
		padding-top: 100px;
		margin: 0;
		text-align: center;
		font-size: 50px;
		color: white;
		// font-family: 'Special Elite', cursive;

		@include breakpoint(phone)
		{
			padding-top: 30px;
		}
	}

	.hero
	{
		@include background-image(scroll);
		min-height: 450px;
	}

	#content
	{

		#primary
		{
			
		}
	}
}